<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>U-haul - Statoil Internal moving service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- link rel="stylesheet" href="/css/bootstrap-responsive.min.css" -->
    <style>
      body { padding-top: 60px; }
      .glyphicon-thumbs-up { cursor:pointer } 
    </style>
  </head>

  <body ng-app="uhaul" ng-controller="MainCtrl">
    <nav class="navbar navbar-default pull-right">
      <ul class="nav navbar-nav">
        <li><a href="#/new-order">New Order</a></li>
        <!--<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>-->
        <!-- <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li> -->
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Moving orders</h1>
      </div>

      <div ng-repeat="order in orders">
        <span style="font-size:20px; margin-left:10px;">
          <a href="#/orders/{{order._id}}">
          <span> 
            {{order.registeredBy}}
          </span>
          </a>
          <span>
            {{order.location.name}}
          </span>
          <span ng-show="order.type === 'single'">
            {{order.mover.name}}
          </span>
          <span ng-hide="order.type === 'single'">
            Multiple
          </span>
          <span>
            {{order.type}}
          </span>
          <span>
            {{order.date | date:shortDate}}
          </span>
          <span>
            {{order.from.code}}
          </span>
          <span>
            {{order.to.code}}
          </span>
          
        </span>
      </div>

    </script>

    <script type="text/ng-template" id="/new-order.html">
      <form ng-submit="addOrder()"
        style="margin-top:30px;">
        <h3>Submit a new moving order</h3>

        <div class="form-group">
          <input type="date"
            class="form-control"
            placeholder="yyyy-MM-dd" 
            ng-model="date"></input>
        </div>
        <div class="form-group">
          <label>
            <input type="radio" ng-model="type" value="single" selected>
            Single
          </label><br/>
          <label>
            <input type="radio" ng-model="type" ng-value="multiple">
            Multiple
          </label><br/>
        </div>
        <div class="form-group">
          <label for="locationSelect">Location: </label><br>
          <select name="locationSelect" 
            ng-model="location"
            ng-options="loc.name for loc in sites track by loc.name"></select>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Name"
          ng-model="mover.name"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Organization"
          ng-model="mover.organization"></input>
        </div>
        <div class="form-group">
          <label for="fromLocation">Moving from: </label><br>
          <select name="fromLocation" 
            ng-model="from.code"
            ng-options="code for code in siteCodes track by code"></select>
        </div>
        <div class="form-group col.md-offset-6">
          <label for="toLocation">Moving to: </label><br>
          <select name="toLocation" 
            ng-model="to.code"
            ng-options="code for code in siteCodes track by code"></select>
        </div>
        <button type="submit" class="btn btn-primary">Send order</button>
      </form>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h3>
      </div>

      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
      </div>

      <form ng-submit="addComment()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Comment"
            ng-model="body"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
      </div>
    </script>

 


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
